<header>
    <blockquote class="pull-right">
        <p>Resultados de <em class="text-primary">{{ $ctrl.key }}</em></p>
    </blockquote>
</header>
<article>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="movie in $ctrl.movies.results">
                <td>
                    <img ng-src="{{ $ctrl.getMovieThumbImageUrl(movie) }}" ng-alt="{{ movie.name }}" class="img-thumbnail" />
                </td>
                <td>
                    <a ui-sref="movies.details({ movieId: movie.id })">{{ movie.title }}</a>
                </td>
                <td>{{ movie.release_date | releaseDate }}</td>
                <td>
                    <span class="badge">{{ $ctrl.getFixedMovieVoteAverage(movie) }}</span> <small>basada en {{ movie.vote_count }} votos</small>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="$ctrl.shouldShowPaginator()">
        <ul uib-pagination
            ng-model="$ctrl.page"
            ng-change="$ctrl.pageChanged()"
            total-items="$ctrl.movies.total_results"
            num-pages="$ctrl.movies.total_pages"
            items-per-page="20"
            boundary-links="false"
            rotate="false"
            class="pagination-sm"></ul>
    </div>
</article>
