<header>
    <nav>
        <ul class="nav nav-tabs" role="tablist">
            <li ng-class="{ active: $ctrl.routeIsUpcoming() }">
                <a ui-sref="movies.upcoming">Próximamente</a>
            </li>
            <li ng-class="{ active: $ctrl.routeIsNowPlaying() }">
                <a ui-sref="movies.now-playing">En cartelera</a>
            </li>
            <li ng-class="{ active: $ctrl.routeIsTopRated() }">
                <a ui-sref="movies.top-rated">Más votadas</a>
            </li>
            <li ng-class="{ active: $ctrl.routeIsPopular() }">
                <a ui-sref="movies.popular">De actualidad</a>
            </li>
        </ul>
        <search-box css-class="movies-search-box" on-search="$ctrl.search(text)"></search-box>
    </nav>
</header>
<section ui-view></section>
