<div>
	<a ng-click="fn.goBack()" class="pull-right">
		<span class="glyphicon glyphicon-chevron-left"></span>
		Volver
	</a>
</div>
<article>
	<header>
		<div class="row">
			<div class="col-md-2">
				<img ng-src="{{ fn.getMovieDetailsImageUrl() }}" class="img-thumbnail" />
			</div>
			<div class="col-md-10">
				<h3>{{ model.movie.title }}</h3>
				<p ng-show="fn.movieHasOriginalName()">Título original {{ model.movie.original_title }}</p>
				<votes-dock vote-average="model.movie.vote_average" vote-count="model.movie.vote_count"></votes-dock>
				<genres-dock genres="model.movie.genres"></genres-dock>
				<credits-dock credits="model.details.credits"></credits-dock>
			</div>
		</div>
	</header>
	<div ng-show="fn.movieHasOverview()" class="bs-callout bs-callout-primary">
		<h4>Sinopsis</h4>
		<p ng-bind-html="fn.getMovieOverview()"></p>
	</div>
	<videos-dock videos="model.details.videos"></videos-dock>
	<similar-dock similar="model.details.similar" item-type="movie"></similar-dock>
</article>
