<header>
    <blockquote class="pull-right">
        <p>Resultados de <em class="text-primary">{{ $ctrl.key }}</em></p>
    </blockquote>
</header>
<article>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="person in $ctrl.people.results">
                <td>
                    <img ng-src="{{ $ctrl.getPersonThumbImageUrl(person) }}" ng-alt="{{ person.name }}" class="img-thumbnail" />
                </td>
                <td>
                    <a ui-sref="people.details({ personId: person.id })">{{ person.name }}</a>
                </td>
                <td>
                    <span class="badge">{{ $ctrl.getFixedPopularity(person) }}</span> <small> de popularidad</small>
                </td>
                <td class="known-for-row">
                    <span ng-repeat="item in person.known_for" tooltip="{{ $ctrl.getItemTitle(item) }}">
                        <a ng-click="$ctrl.goToItem(item)">
                            <img ng-src="{{ $ctrl.getItemThumbImageUrl(item) }}" ng-alt="{{ $ctrl.getItemTitle(item) }}" class="img-thumbnail" />
                        </a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="$ctrl.shouldShowPaginator()">
        <ul uib-pagination
            ng-model="$ctrl.page"
            ng-change="$ctrl.pageChanged()"
            total-items="$ctrl.people.total_results"
            num-pages="$ctrl.people.total_pages"
            items-per-page="20"
            boundary-links="false"
            rotate="false"
            class="pagination-sm"></ul>
    </div>
</article>
