<div>
    <a ng-click="$ctrl.goBack()" class="pull-right">
        <span class="glyphicon glyphicon-chevron-left"></span> Volver
    </a>
</div>
<article>
    <header>
        <div class="row">
            <div class="col-md-2">
                <img ng-src="{{ $ctrl.getTVShowDetailsImageUrl($ctrl.tvShow) }}" class="img-thumbnail" />
            </div>
            <div class="col-md-10">
                <h3>{{ $ctrl.details.name }}</h3>
                <p ng-show="$ctrl.tvShowHasOriginalName()">Título original {{ $ctrl.details.original_name }}</p>
                <votes-dock vote-average="$ctrl.details.vote_average" vote-count="$ctrl.details.vote_count"></votes-dock>
                <genres-dock genres="$ctrl.details.genres"></genres-dock>
                <credits-dock credits="$ctrl.details.credits"></credits-dock>
            </div>
        </div>
    </header>
    <div ng-show="$ctrl.tvShowHasOverview()" class="bs-callout bs-callout-primary">
        <h4>Sinopsis</h4>
        <p ng-bind-html="$ctrl.getTVShowOverview()"></p>
    </div>
    <videos-dock videos="$ctrl.details.videos"></videos-dock>
    <similar-dock similar="$ctrl.details.similar" item-type="tvShow"></similar-dock>
</article>
